<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>144677968416-6bab8jul21tljq5vobv97c2mcenucjhd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144677968416-6bab8jul21tljq5vobv97c2mcenucjhd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>144677968416-eqgb2o30ped8rhkhivh32sjm9d789ig0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA96XawlitThIyOvvmBhHm40uSdfAzdp_4</string>
	<key>GCM_SENDER_ID</key>
	<string>144677968416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutter-firebase-login</string>
	<key>PROJECT_ID</key>
	<string>flutter-app-40b8c</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-app-40b8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144677968416:ios:43e6bdd88e2cb98e9c7a45</string>
</dict>
</plist>